
html, body {

  /* By default, make the canvas black */
  background: black;

  /* Allow the canvas to fill the window */
  margin: 0;
  overflow: hidden;
  display: block;

}

canvas {

  /* Stay fixed in place */
  position: absolute;
  top: 0px;

  /* Stay behind everything else */
  z-index: 0;

}

.menu {

  /* Positioning */
  position: fixed;
  height: 100%;
  z-index: 1;

  /* Box style */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.70) 85%, rgba(0, 0, 0, 0));
  padding: 20px;

  /* Content style */
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: white;

}

/*
 * Make sure each option
 * appears on a new line
 */
.menu > label, select {
  display: block;
  margin: 10px;
}

